#div-simulador-plano-cd {
	margin: 0 auto;
	max-width: 900px; /*600px*/
	color: #000;
	line-height: 150%;
	letter-spacing: 0.5px;
	font: 14px/20px Arial, Helvetica, sans-serif;
}

#div-simulador-plano-cd form {
	width: auto;
	height: auto;
	text-align: left;
}

#div-simulador-plano-cd fieldset {
	padding: 10px 15px;
	border: 2px solid #033d7b;

}

#div-simulador-plano-cd .field {
	float: none;
	width: 100%;
    display: block; /*display dos inputs*/
	margin: 10px;
}

#div-simulador-plano-cd .fieldset-titulo {
	width: auto;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #033d7b;
}

#div-simulador-plano-cd input,
#div-simulador-plano-cd select {
	text-transform: uppercase;
	width: 100%;
	height: 20px;
}

#div-simulador-plano-cd legend{
	font-size: 12px;
	text-align: justify;
}

.div-calcular-simulacao {
	padding-top: 10px;
	text-align: center;
}

#botao-calcular-simulacao {
	text-align: center;
	color: #fff;
	padding: 3px;
	min-width: 165px;
    border: 2px solid #033d7b;
    text-transform: uppercase;
    background-color: #5b81a9;
    cursor: pointer;
	font-size: 12px;
}

#tabela-resultado-simulacao {
	margin: 0 auto;
	width: 100%;
	display: table;
	border-collapse: collapse;
	border-spacing: 2px;
    border-color: #000;
}

#tbody-resultado-simulacao .resultado-contribuicao-valor,
#tbody-resultado-simulacao .resultado-reserva-valor,
#tbody-resultado-simulacao .resultado-beneficio-valor,
#tbody-resultado-simulacao .resultado-prazo-recebimento-valor {
	padding-left: 35px;
	text-align: right;
}

#mensagem-erro-simulacao {
	color: red;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	list-style: none;
}

#nota-simulacao {
	background-color: #eee;
	border-left: 5px solid #033d7b;
	border-right: 5px solid #033d7b;
	text-align: justify;
	padding: 10px;
	margin:10px 0;
	list-style: none;
}

#nota-simulacao li {
	padding: 10px;
}

form input[type="number"] {
	max-width: 100%;
}